*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-image: url(https://cdn.wallpapersafari.com/47/74/wpYBHu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @font-face {
   font-family:'Passaros';
   src: url('../Fonte/Birds\ of\ Paradise\ ╕\ PERSONAL\ USE\ ONLY.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
  }
  
  h1{
   padding: 0;
   background-color: rgba( 25 , 215 , 255 , 0.60);
   font-family: 'Passaros';
   margin: 10px 200px;
   font-size: 45px;
   font-weight: normal;
   border-radius: 10px;
   text-align: center;
   color: #000000;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
   text-shadow:1px 1px 1px rgba(0,0,0,0.5);
   width: 918px;
   height: 70px;
  }

  p{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 10px; 
    text-align: center;
    margin: 30px 10px 40px 260px;
    width: 790px;
    background-color: rgba( 25 , 215 , 255 , 0.60);
    font-size: 45px ;
    font-family: 'Passaros';
    justify-items: center;
    height:400px ;
   }

   .menu{
    width: 200px;
    font-size: 1.9em;
    font-family: 'Passaros';
    background:rgba(25,215,255,0.66);
    border: 0;
    margin: 30px 132px;
    color:black;
    padding: 0.1em 0.2em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 87%;
    left: 36%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.menu:hover{
    background-color: rgba(21,225,295,0.90);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    color: black;
}